/* Basic reset for consistent styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}


/* Main content styling */
main {
  padding: 2rem;
}

/* Footer styling */
.site-footer {
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}
