/* src/App.css */

/* Basic reset for consistent styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between; /* Ensure space between items */
}

.ray1 {
  flex: 1;
  padding: 1rem;
 
  border-radius: 8px;
  max-width: 400px;
  min-width: 100px;
  width: 100%;
  text-align: center;
  margin-right: 2rem; /* Space between the image and the text */
}

.text-section {
  flex: 1;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 600px;
  min-width: 0px;
  width: 100%;
  text-align: center;
}

.site-footer {
  text-align: center;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  margin-top: auto;
  width: 100%;
}
.home-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}