/* src/App.css */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-footer {
  text-align: center;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  margin-top: auto;
}

.main-content {
  display: flex;
  align-items: center;
  padding: 2rem;
  margin-top: auto;
}

.ray1 {
  max-width: 100%;
  width: 400px; /* Set a fixed width for the image */
  height: auto;
  margin-right: 2rem; /* Space between the image and the text */
  margin-left: auto;
}

.text-section {
  flex: 1; /* Take the remaining space */
  padding: 1rem;
  background-color: #f9f9f9; /* Optional: Add a background color for the text section */
  border-radius: 8px; /* Optional: Add rounded corners */
  width: 100px;
  max-width: 600px; /* Limit the maximum width of the text box */
  min-width: 300px; /* Optional: Set a minimum width for the text box */
  margin-right: auto;
}
